<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Details</title>
    </head>
    <body>
        <h1>Задача {{ task.id }}</h1>
        {% for item in task.items %}
        <ul>
            <li>Лицо {{ item.id }}</li>
            <li>Глаза закрыты: {{ '✅' if item.is_eyes_closed else '❌'}}</li>
            <li>Лицо слишком маленькое: {{ '✅' if item.is_face_small else '❌'}}</li>
            <li>Координаты лица: X1 Y1={{ item.face_left }} {{ item.face_top }}, X2 Y2={{ item.face_right }} {{ item.face_bottom }}</li>
            <li>Закрытость глаз: Левый: {{ item.left_eye_close }}, Правый: {{ item.right_eye_close }}</li>
            <li>Размер картинки: {{ item.image_width }}x{{ item.image_height }}</li>
        </ul>
        {% endfor %}

        <a href="/panel">Обратно</a>
    </body>
</html>
