<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Index</title>
    </head>
    <body>
        <form id="form" method="POST" action="/api/task" style="display: flex; align-items: center; justify-content: center; gap: 10px; flex-flow: column;">
            <h1>Выберите фото</h1>
            <input type="file" id="file" name="file" required multiple>
            </br>
            <input type="submit" value="Отправить" style="background-color: none; border: 1px solid black; border-radius: 8px; width: 15vw; height: 58px; font-size: 1.2rem; min-width: 120px;">
        </form>

        <div style="margin-top: 5vh; display: flow; flex-row: column;">
            {% for task in tasks %}
            <div style="border-top: 1px solid; padding: 10px;">
                <h3 style="font-size: 1.2em;"><a href="/panel/{{ task.id }}">Задача {{ task.id }}</a></h3>
                {% for item in task.items %}
                    {% if item.error is not none %}
                        <p>Лицо не найдено</p>
                    {% else %}
                        <ul style="text-align: start">
                            <li>Глаза закрыты: {{ '✅' if item.is_eyes_closed else '❌'}}</li>
                            <li>Лицо слишком маленькое: {{ '✅' if item.is_face_small else '❌'}}</li>
                            <li>Очки: {{ '✅' if item.with_glasses else '❌'}}</li>
                            {% if not item.is_good is none %}
                                <li>Лайк: {{ '✅' if item.is_good else '❌'}}</li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>

<style>
* {
    font-family: sans-serif;
    font-size: 1em;
}
</style>

    <script>
        document.getElementById('form').addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData(this); // Create a FormData object from the form

            try {
                const response = await fetch('/api/task', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    const result = await response.json(); // Get the response text
                    console.log(result);
                    window.location.href = "/panel/" + result.id;
                } else {
                    console.error(response);
                }
            } catch (error) {
                console.error(error);
            }
        });
    </script>
</html>

