<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Index</title>
    </head>
    <body>
        <form id="form" method="POST" action="/api/task" style="display: flex; align-items: center; justify-content: center; gap: 10px; flex-flow: column;">
            <h1>Выберите фото</h1>
            <input type="file" id="file" name="file" required>
            </br>
            <input type="submit" value="Отправить" style="background-color: none; border: 1px solid black; border-radius: 8px; width: 15%; height: 58px; font-size: 1.2rem;">
        </form>
    </body>

<style>
* {
    font-family: sans-serif;
}
</style>

    <script>
        document.getElementById('form').addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData(this); // Create a FormData object from the form

            try {
                const response = await fetch('/api/task', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    const result = await response.json(); // Get the response text
                    console.log(result);
                    window.location.href = "/panel/" + result.id;
                } else {
                    console.error(response);
                }
            } catch (error) {
                console.error(error);
            }
        });
    </script>
</html>

